// Reboot / Shards Improvements

// HTML
html {
  font-size: 16px;
  font-weight: 500;

  // Adjust font sizes for 144dpi+ (including retina).
  @media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
    font-size: 16px;
    font-weight: 400;
  }
}


// Body
body {
  background: $body-background;
  font-size: 15px;
  font-weight: 500;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    font-size: 13px;
    font-weight: 400;
  }
}


// Links
a {
  color: $accent-color;

  @include hover {
    color: darken($accent-color, 15%);
  }
}


// Labels
label {
  font-weight: 400;
}


// Datepicker adjustments
.datepicker {
  font-size: .75rem;
  padding: 0.625rem;

  table tr td,
  table tr th {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.modal-body>div>div {
  padding: 0 !important;
  margin-top: 0 !important;
}

.modal-body .btn-secondary {
  display: none !important;
}

.p-b-0{
  padding-bottom: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-l-r-10 {
  padding: 0 10px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

.iconHover {
  &:hover {
    color: #990000;
  }
}

.iconAddOption {
  height: 0;
  position: relative;
  top: -12px;
  right: -10px;
}

.br-10 {
  border-radius: 10px !important;
}


.react-datepicker-input  {
  background: #ffffff !important;
}

.form-datepicker.is-invalid{
  .react-datepicker-input {
    border-color: #c4183c;
  }

  input {
    box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1);
    padding-right: calc(1.5em + .75rem);
  }

}
